@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  button {
    width: fit-content;
    cursor: pointer;
    font-size: var(--text-base);
    padding: 1rem 1.5rem;
    border-radius: 2rem;

    outline: none;
    border: none;

    transition: all 0.3s ease-in-out;
  }
}
